PORT=3001
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=fantasma_digital_db
DB_PORT=3306

SMTP_HOST=smtp.zoho.com
SMTP_PORT=465
SMTP_USER=contact@fantasmadigital.com
SMTP_PASS=your_password
SMTP_SECURE=true
